<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825954611534-qlomii358hb1m0mlmkc2hfpjslpf59jf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825954611534-qlomii358hb1m0mlmkc2hfpjslpf59jf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>825954611534-qc31qtnm33kcn25ees88qgpg1unaipjt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEsB1xn-th2YqKgLhRJm8lILhT0mMoX2o</string>
	<key>GCM_SENDER_ID</key>
	<string>825954611534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticketApp</string>
	<key>PROJECT_ID</key>
	<string>ticketapp-5ace2</string>
	<key>STORAGE_BUCKET</key>
	<string>ticketapp-5ace2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825954611534:ios:0d0719f2946b5753136e1f</string>
</dict>
</plist>